<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438117963269-v2pgucvpafl5hnrthkol8bmqe16eub8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438117963269-v2pgucvpafl5hnrthkol8bmqe16eub8v</string>
	<key>API_KEY</key>
	<string>AIzaSyA1Fl4twHcYkNBruCeAz5a2SMt0M41souY</string>
	<key>GCM_SENDER_ID</key>
	<string>438117963269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jawaEye</string>
	<key>PROJECT_ID</key>
	<string>crypton-c5356</string>
	<key>STORAGE_BUCKET</key>
	<string>crypton-c5356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438117963269:ios:58a1f8b3368462412b6e6c</string>
</dict>
</plist>